/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


html {
    height: 100%;
  }
  body {
    padding: 0px !important;
    margin: 0px !important;
    height: 100%;
  }
  .components-container-gt-xs {
    padding: 20px;
  }
  .components-container-xs {
    padding: 5px !important;
  }
