<div fxFill fxFlex fxLayout="column" class="components-container-gt-xs">
    <div fxFlex="nogrow" fxLayout="row">
  <div fxFlex>

    <form [formGroup]="sqlForm">
      <mat-form-field appearance="outline" class='sql-form'>
          <mat-label>SQL Statement</mat-label>
        <textarea matInput formControlName="sql" cdkTextareaAutosize cdkAutosizeMinRows="5" placeholder="SELECT * FROM TABLE"></textarea>
      
      </mat-form-field>
    </form>
  </div>
  <div fxFlex="nogrow">
      <button class='sql-button' mat-flat-button color='primary' (click)='submit()'>
        <mat-icon>search</mat-icon>
      </button>

    </div>
  </div>
  <ng-container *ngIf='displayTable'>
  <div fxFlex class='background'>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container *ngFor="let column of displayedColumns" [matColumnDef]="column">
        <th mat-header-cell *matHeaderCellDef [style.min-width.px]="getColumnWidth(column)">{{ column }} </th>
        <td mat-cell *matCellDef="let element">{{ element[column] }} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</ng-container>
<ng-container *ngIf='!displayTable'>
  {{errorMessage}}
</ng-container>
</div>