.background{
min-height: 70vh;
overflow: scroll;
}

table {
    width: 100%;
  }
  .sql-form {
    width: 100%;
  }
  .sql-button {
    margin-left: 5px;
    margin-top: 5px;
  }

  table tr.mat-row {
    min-height: 5px;
  }
